.main{
    display: flex;
    width: 100vw;
    flex-direction: column;
    max-width: 1440px;
}
.week__title {
    font-size: 38px;
    font-weight: bold;
    display: flex;
}
.main__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.week {
    display: flex;
    width: 40%;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 20px;
    border-bottom: 5px solid #ee3524;
    padding-bottom: 10px;
}

.week__name {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.table_pc {
    display: none;
    margin: 20px auto 0 auto;
    max-width: 90%;
    grid-template: 5% 7% 80%/ 5% repeat(6, 1fr) 10%;
    min-height: 75vh;
    max-height: 75vh;
    justify-items: center;
    align-items: end;
    column-gap: 15px;
    align-items: end;
}

.table__headers {
    display: flex;
    text-align: center;
    font-size: 14px;
    height: auto;
    width: 100%;
    justify-content: center;
}

.table__headers_date {
    display: flex;
    text-align: center;
    font-size: 18px;
    height: auto;
    width: auto;
    justify-content: center;
    font-weight: bold;
    color: #ee3524;
}

.table__content_time_pc{
    display: grid;
    height: 100%;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 15px;
    justify-content: center;
}

.table__content_day_pc {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 100%;
    row-gap: 10px;
    min-width: 90%;
    justify-content: center;

}

.time {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75px;
    padding: 0 8px;
    text-align: center;
    justify-content: center;
}
.time:first-child{
    margin-top: 20px;
}

.lesson:first-child{
    margin-top: 20px;
}

.time__number {
    font-weight: bold;
    color: #ee3524;
    font-size: 18px;
}

.lesson {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 90%;
    max-width: 90%;
    height: 75px;
    background-color: #f1f2f2;
    justify-content: center;
    padding: 0 8px;
    border-radius: 10px;
    position: relative;
}

.lesson__title {
    position: relative;
    left: 3px;
    font-size: 12px;
    font-weight: 900;
    max-height: 30px;
    max-width: 280px;
    cursor: pointer;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.lesson__type {
    font-size: 11px;
    font-weight: normal;
}

.lesson__room {
    font-size: 11px;
    font-weight: normal;
}

.lesson__teacher {
    font-size: 10px;
    font-weight: normal;
    margin-top: 10px;
}

.lesson__des {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

@media screen and (min-width: 960px){
    .table_pc {
        display: grid;
    }
}

.table_mb{
    display: none;
    margin: 0 10px 0 10px;
    grid-template: 76px 400px / 15vw 15vw 70vw ;
    grid-auto-flow: row;
    grid-auto-rows: 76px 400px;
    justify-items: center;
    align-items: end;
    column-gap: 7px;
    justify-items: center;
    align-items: end;
    margin-top: -6px;
}

.table__content_day_mb {
    grid-column: 2 / 4;
    display: grid;
    grid-template: repeat(4, 1fr) / 100% ;
    row-gap: 20px;
    width: 80%;
    justify-content: center;
    height: calc(100% - 20px);
    margin-top: 10px;
}

.table__content_time_mb {
    display: grid;
    width: 100%;
    grid-template: repeat(4, 1fr) / 100% ;
    row-gap: 20px;
    font-size: 14px;
    justify-content: center;
    height: calc(100% - 20px);
    margin-top: 10px;
}
.lesson__ticket {
    position: absolute;
    top: 4px;
    right: 4px;
    opacity: .8;
    font-size: 12px;
    cursor: pointer;
}

.lesson__ticket_bp{
    color: #ee3524;
}

.lesson__ticket_sp{
    color: #ee3524;
}

.lesson__ticket-des{
    position: absolute;
    top: -30px;
    right: 6px;
    display: none;
    border: #4d4d4f 2px solid;
    font-size: 10px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    padding: 5px 2px 5px 2px;
}

.lesson_active {
    border: 3px solid #ee3524;
    position: relative;
}

.time_active {
    color: #ee3524;
    font-weight: bold;
}

.clock__img {
    position: absolute;
    display: flex;
    height: 14px;
    width: 14px;
    top: 4px;
    left: 5px;
    background-image: url('../images/time.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.clock__text {
    position: absolute;
    top: -47px;
    left: 0px;
    width: 110px;
    display: none;
    border: #4d4d4f 2px solid;
    font-size: 10px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    padding: 5px 2px 5px 2px;
}

.table__headers_today{
    color: #ee3524;
    font-weight: bold;
    border-bottom: #ee3524 7px solid;
}

.lesson__ticket-des_active{
    display: flex;
}

.lesson__click {
    opacity: .6;
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: center;
    position: relative;
    left: 1px;
    cursor: pointer;
}

.lesson__string {
    max-height: 30px;
    max-width: 80%;
    cursor: pointer;
    display: flex;

}

.lesson_empty{
    background-color: initial;
    border: solid 3px #f1f2f2;
    
}

.lesson__click_empty {
    display: none;
}

.popup__url {
    display: flex;
    margin: 0 auto 20px auto;
    color: #4d4d4f;
    text-decoration: none;
    border: #4d4d4f3a 2px solid;
    padding: 0 5px 2px 5px;
    border-radius: 5px;
}

.popup__url_disabled {
    pointer-events: none;
    cursor: default; 
    color: #f1f2f2;
}

@media screen and (max-width: 960px){
    .main__title{
        margin: 20px auto 0 auto;
    }
    .week {
        width: 100%;
    }

    .table_mb {
        display: grid;
    }

    .table__headers {
        max-width: 180px;
        font-size: 18px;
        font-weight: bold;
        margin: 20px auto 0 auto;
    }

    .table__headers_date {
        margin-top: 20px;
        flex-direction: column;
    }
    .lesson {
        min-width: 90%;
        height: 75px;
        max-width: 90%;
        padding: 0 8px;
        border-radius: 10px;
    }
    
    .lesson__title {
        height: 15px;
        margin-top: 5px;
    }

    .lesson__des {
        margin-top: 5px;
        justify-content: space-around;
    }

    .lesson__teacher {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .week__title {
        font-size: 28px;
    }
    .week-day{
        flex-direction: column;
        text-align: center;
    }
    .week-day::before{
        font-size: 12px;
        font-weight: 300;
        content: 'день недели';
    }

    .table__headers_date::before {
        font-size: 14px;
        font-weight: 300;
        content: 'дата';
    }
    .clock__img {
        height: 18px;
        width: 18px;
        top: 4px;
        right: 4px;
    }

    .lesson__click {
        top: 4px;
        left: 8px;
    }

    .time:first-child{
        margin-top: 0;
    }
    
    .lesson:first-child{
        margin-top: 0;
    }
}

